<?xml version="1.0" encoding="utf-8"?>
<!--
  Release manifest overlay. Registers ComponentActivity so Robolectric's
  createComposeRule() can resolve the activity in the release unit test variant.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="false" />
    </application>
</manifest>
