<?xml version="1.0" encoding="utf-8"?>
<!--
  Robolectric manifest for release unit tests. Registers ComponentActivity so
  createComposeRule() can resolve the activity in the release variant.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="false" />
    </application>
</manifest>
